.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: beige;
  width: 100%;
  height: 100%;
}

.image {
  width: 100px;
  width: 50%;
}

.text-style {
  width: 50%;
  font-family: 'Indie Flower';
  color:black;
  padding-left: 100px;
}

p {
  font-size: 25px;
}