.population {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
  background-color: beige;
  width: 100%;
  height: 100%;
  font-family: 'Indie Flower';
}

.text-styles {
  width: 70%;
  font-size: 20px;
  color:black;
}

.text-styles-bottom {
  width: 70%;
  font-size: 30px;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.bottom-separator {
  padding-bottom:30px;
}

.bottom-separator-table {
  margin-bottom: 100px;
}

.bottom-separator-bottom {
  margin-bottom: 150px;
}

.grid-style {
  width: 80%;
}