.population {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
  background-color: beige;
  width: 100%;
  height: 100%;
  font-family: 'Indie Flower';
}

.text-style {
  width: 50%;
  font-size: 17px !important;
  color:black;
}

.grid-style {
  width: 80%;
}