.historyGnome {
  display: flex;
  flex-direction: row;
}

.left-section {
  width: 50%;
}

.right-section {
  width: 50%;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}