.header-organized{
  position:fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 110;
  min-height: 70px;
}

.header {
  position: static;
  background-color:black;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.header-title {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  color:white;
}