.footer{
  position: fixed; 
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  z-index: 100;
  background-color: black;
}

.footer-text{
  font-family: 'Indie Flower';
  font-size: 18px;
  color:white;
}

p { 
  margin: 15px;
}